.timer__clock {
  max-width: 216px;
  margin: auto;
  gap: 8px;
  border: 5px solid var(--text-color-normal);
  padding: 0.3rem;
  border-radius: 0.5rem;
  background-color: var(--secondary-color);
}
.timer__form {
  max-width: 450px;
  margin: auto;
  display: grid;
  gap: 0.8rem;
}
.timer__formBtns {
  gap: 0.8rem;
}
.timer__clockSeperator {
  font-size: 3rem;
  animation: blinkInfinite 1000ms ease-in infinite forwards;
}
@keyframes blinkInfinite {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
