.clock__timer {
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 0.5rem;
  display: grid;
  gap: 0.8rem;
}

.clock__playing {
  outline: 2px solid #00bf9a;
}

.clock__timerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clock__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clock__circle {
  position: relative;
  height: 8rem;
  background-color: var(--secondary-color);
  width: 8rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--primary-color);
  border-radius: 50%;
}
.clock__ears {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  position: absolute;
}
.clock__right {
  left: 80%;
  top: -15%;
}
.clock__left {
  right: 80%;
  top: -15%;
}
.clock__stand {
  position: absolute;
  width: 125px;
  background-color: var(--primary-color);
  height: 10px;
  bottom: -10%;
  transform: skewX(-20deg);
}
.clock__circle > span {
  font-weight: 1.3rem;
  font-weight: bold;
  gap: 0.5rem;
}
.clock__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
