header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-block: 0.5rem;
}
header > ul {
  list-style: none;
}
header > ul > li {
  margin: 0.5rem;
}
header > ul > li > a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
